
.container{
    text-align:center;
    width:50%; 
    /* background-color:rgb(250, 236, 49);  */
} 

h1{
    font-size:48px; 
}

#drawing{
    /* max-width: 100%; */
    /* height: auto; */
    width:70%; 
    border: solid;
}


#letter{
    display:inline-block;
}

#buttonLetter{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    margin: 4px 2px;
    cursor: pointer;
    font-size:16px;
}

#blank{
    display:inline-block;
    padding:2px;

}


#buttonLetter:hover { 
    background-color: rgb(76, 175, 150);
}

/* #introHeader h1,
#introHeader p {
    display: inline;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
} */


#introHeader h1 {
    font-family: 'Open Sans', sans-serif;
}

#introHeader p {
    font-family: 'Open Sans', sans-serif;
}


#hint {
    font-family: 'Open Sans', sans-serif;
    /* background-color: rgb(255, 248, 143); */
    height:200px;
}

#keyboard {
    display:flex; 
    /* background-color:red; */
    height:300px;
    justify-content: center;
}






