<header>
    <nav>
        <a id="beacon" href="/">
            <div id="home-text"> Home </div>
        </a>
    </nav>

    <div class="right-sidebar">
        {{#githubUser}}
        <a class="ext-link" href="https://github.com/{{githubUser}}">
            <img src="/images/github-logo.png" alt="Github Profile"/>
        </a>
        {{/githubUser}}

        {{#twitterHandle}}
        <a class="ext-link" href="https://twitter.com/{{twitterHandle}}">
            <img src="/images/twitter-logo.png" alt="Twitter Profile"/>
        </a>
        {{/twitterHandle}}
    <div id="theme-button">DAY-MODE</div>
    <!-- Rounded switch -->
         <!-- https://www.w3schools.com/howto/howto_css_switch.asp -->
<!-- https://stackoverflow.com/questions/39846282/how-to-add-the-text-on-and-off-to-toggle-button -->
    <label class="switch">
    <input id="night-toggle" type="checkbox">
    <div class="slider round">
        <span class="on" style="float:right">🌙</span>
        <span class="off" style="float:left">🔆</span>
    </div>
    </label>

    </div>
</header>
